@import url(normalize.css);
@import url(fonts.css);

html{
  font-family: MyriadPro, Arial, sans-serif;
}
body{
  background-color: #161616;
  font-size: 14px;
}
h1,
h2,
h3{
  line-height: 1;
}
h2,
h3{
  font-size: 30px;
}
h5{
  font-size: 18px;
  font-weight: normal;
}
b{
  font-size: 1.666em;
  font-weight: 600;
}
u{
  text-decoration: none;
  border-bottom: 1px solid #c5c5c5;
}
.p-50{
  padding: 1px 50px 50px;
}
.fluid{
  width: 100%;
}
.wrap{
  box-sizing: border-box;
  max-width: 1198px;
  margin: auto;
}
.row{
  padding: 5px;
}
.row:after {
	content		: " ";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}
.row > div{
  float: left;
  box-sizing: border-box;
}
.w-50{
  width: 46%;
  margin: 0 2%;
}
.w-33{
  width: 29%;
  margin: 0 2%;
}
.mb-55{
  margin-bottom: 55px;
}
.orange::first-letter{
  color: #ffc600;
}
.text-white{
  color: #fff;
}
.text-black,
.text-black .lead{
  color: #000;
}
.text-black p{
  color: #595959;
}

.text-orange{
  color: #ffc600;
}

.background-white{
  background-color: #fff;
}
.background-one{
  background-image: url(../img/backround-2.jpg);
  background-color: rgba(1, 14, 22, 1);
  background-repeat: no-repeat;
  background-position:50% 0%;
  background-size: 100%;
}
.background-one a{
  font-size: 18px;
  color: #ffc600;
  text-decoration: none;
}
.background-one a:hover{
  color: inherit;
}
.main > h1{
  font-size: 202px;
  margin: 0;
}
.main{
  font-size: 18px;
  padding: 110px 35px 50px;
}
.main > p{
  margin-top: 0;
}
.we-create{
  background: url(../img/backround-1.jpg) 50% 0% no-repeat;
  height: 655px;
  padding-top: 80px;
}
.we-create> h2{
  font-weight: 700;
  font-size: 60px;
  line-height: .8;
  margin-top: 0;
}
.nav{
  padding: 0;
}
.nav > li{
  display: inline-block;
}
.nav a{
  display: block;
  text-transform: capitalize;
  margin-right: 20px;
}
.nav a:hover{
  border-bottom: 2px solid #ffc600;
}
.about{
border-right: 2px solid #595959;
margin-top: 50px;
}
.about > h2:first-of-type{
  color: #717171;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}
.about > h2:last-of-type{
  font-size: 80px;
  margin: 0;
  margin-top: -.15em;
}
.lead{
  font-style: italic;
  margin-top: 2em;
  font-size: 1.1428em;
}
.thumb{
  text-align: center;
}
.thumb > p{
  font-size: 10px;
  font-style: italic;
  color: #000;
}
.thumb::before{
  content: "";
  border: 2px solid #FFa800;
  border-radius: 50%;
  display: inline-block;
  padding: 15px 10px;
  height: 54px;
  width: 54px;
  box-sizing: border-box;
  background: url(../img/game.png) #e8e8e8 no-repeat 50%;
}
.menu{
  padding: 0;
}
.menu li{
  display: inline-block;
}
.menu a{
  font-weight: 600;
  font-size: 9px;
  color: #000;
  margin: 0 1em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.menu a::after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffc600;
    transition: width .3s ease-in-out;
    position: absolute;
    left:25%;
}
.menu a:hover:after,
.menu a:focus:after {
    width: 50%;
    border: none;
}
.project{
  margin: 0 -50px;
  padding: 0;
}
.project img{
  float: left;
}
.img-text{
  padding: 0 80px;
}
.img-text img{
  margin: 0 -2%;
  width: 100%;
}
.img-text > .row:nth-of-type(even) > .w-50{
  float: right;
}
.left{
  position: relative;
  left: 20px;
}
.right{
  position: relative;
  right: 20px;
}
.img-text > .row:not(:first-child){
  margin-top: -15px;
}
.background-three{
  background-image: url(../img/backround-3.jpg);
  background-repeat: no-repeat;
  background-position:50% 0%;
  background-size: 100%;
}
.joker{
  margin-left: 35%;
}
.joker p{
  font-size: 11px;
}


@media screen and (max-width: 1220px) {
  .project {
    max-width: 600px;
    margin: 0 auto;
  }
  .img-text{
    padding: 0;
  }
  @media screen and (max-width: 720px) {
    .left,
    .right{
      position: static;
    }
    .img-text > .row:not(:first-child){
      margin-top: 0;
    }
    .project {
      max-width: 300px;
    }
    .row > .w-50{
      float: none;
      width: 100%;
      margin: 0;
    }
    .main h1{
      font-size: 85px;
    }
    .about{
      border: none;
    }
  }
  @media screen and (max-width: 330px){
    .main h1{
      font-size: 65px;
    }
    .about > h2:last-of-type{
      font-size: 50px;
    }
    .row > .w-33{
      float: none;
      width: 100%;
      margin: 0;
    }
    .p-50{
      padding: 1px 10px 50px;
    }
  }
}
